.our-services {
  .box-shadow {
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  }
}

.our-facilities {
  .icon-square {
    background: #EBEBEB;
    height: 56px;
    width: 56px;
    border-radius: 1rem;

    svg {
      width: 34px;
      height: 34px;
    }
  }
}